{% extends "base.html" %}
{% load static %}
{% block content %}
    <main class="h-96">
        <section class='my-10'>
            <div class='border-s-8 border-green-600'>
                <h1 class='text-4xl  ms-5'>Contact Page</h1>
            </div>
        </section>
        <section class="mt-20">
            <div>
                <h1 class="text-3xl text-green-400">We will be happy to service you ! </h1>
                <h1 class="text-xl">Please contact with  these given below address </h1>
            </div>
            <div class='card w-96 mt-10  p-5 shadow-inner shadow-green-400'>
                <p class="card-title ">Number: +8801XXXXXXXXX</p>
                <p class="card-title ">Email: something@gmail.com</p>
                <p class="card-title ">Address: Mipur-11,Dhaka-12</p>
            </div>
        </section>
    </main>
{% endblock content %}