<nav class='bg-sky-400 p-2 rounded'>
<div class="navbar  flex place-content-between">
  <div class="">
    <a href="{% url 'home' %}" class="btn btn-ghost normal-case text-xl bg-teal-300">Mini Blog</a>
  </div>
    {% comment %} Menu start {% endcomment %}
    <div>
        <ul class='flex gap-2 text-2xl'>
            <li><a class="hover:shadow-xl p-1 rounded-lg hover:px-2" href="{% url 'home' %}">Home</a></li>
            <li><a class="hover:shadow-xl p-2 rounded-lg" href="{% url 'contact' %}">Contact</a></li>
            <li><a class="hover:shadow-xl p-2 rounded-lg" href="{% url 'about' %}">About Us</a></li>
            {% if request.user.is_authenticated %}
            <li><a class="hover:shadow-xl p-2 rounded-lg" href="{% url 'dashboard' %}">Dasboard</a></li>
            <li><a class="hover:shadow-xl p-2 rounded-lg" href="{% url 'logout' %}">Sign Out</a></li>
            {% else %}
            <li><a class="hover:shadow-xl p-2 rounded-lg" href="{% url 'signup' %}">Sing Up</a></li>
            <li><a class="hover:shadow-xl p-2 rounded-lg" href="{% url 'login' %}">Sign In</a></li>
            {% endif %}
        </ul>
    </div>
    {% comment %} Menu End {% endcomment %}
  <div class="flex-none gap-2">
    <div class="form-control">
        <form action="">
            <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto" />
            <input type="button" class='bg-green-400 p-2 rounded text-white hover:bg-green-600' value="Search">
        </form>
    </div>
    
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
            {% comment %} img field {% endcomment %}
            <span class="text-3xl">{{request.user.get_full_name}}😎</span>
        </div>
      </label>
      <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
        <li>
          <a class="justify-between">
            Profile
            <span class="badge">Home</span>
          </a>
        </li>
        <li><a>Settings</a></li>
        <li><a>Logout</a></li>
      </ul>
    </div>
  </div>
</div>
</nav>
